.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../public/Assest/Images/images.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}

ul.movies-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

li.list-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #37373737;
  padding: 20px;
  border-radius: 12px;
  background: #2c2c2c;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

h2.id {
  margin: 0;
  font-size: 1.5rem;
  color: #888;
}

h2.movie-name {
  margin: 0;
  padding-top: 10px;
  color: #fff;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

p.movie-rating {
  margin: 0;
  padding-top: 10px;
  font-size: 1.2rem;
  color: #ddd;
  padding-bottom: 10px;
}

img.movie-poster {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.movie-link {
  color: #ff6f61;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input[type="text"] {
  height: 40px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1.heading {
  color: white;
  font-size: 3rem;
}

